---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
import ArrowCard from '@/components/ArrowCard.astro';
import { useTranslations } from '@/i18n/utils';

export async function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

const { lang } = Astro.params;
const t = useTranslations(lang as 'en' | 'es');

const data = (await getCollection('blog'))
  .filter((post) => !post.data.draft && post.data.lang === lang)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<'blog'>[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={t('blog.title')} description={t('blog.description')}>
  <Container>
    <div class="space-y-10">
      <div class="space-y-8">
        {
          years.length === 0 ? (
            <div class="p-8 border border-(--border) border-dashed rounded-xl text-(--text-secondary) text-sm text-center animate">
              {t('empty.blog')}
            </div>
          ) : (
            years.map((year) => (
              <section class="space-y-4 animate">
                <div class="flex items-center gap-3">
                  <span class="font-bold text-(--accent) text-lg">{year}</span>
                  <div class="flex-1 bg-(--border) h-px" />
                </div>
                <ul class="flex flex-col gap-4">
                  {posts[year].map((post) => (
                    <li>
                      <ArrowCard entry={post} />
                    </li>
                  ))}
                </ul>
              </section>
            ))
          )
        }
      </div>
    </div>
  </Container>
</Layout>
